
<div class="row" style="margin-top: 6%; margin-bottom: 6%;line-height: 1.5em;">
	<div class="small-8 large-centered columns" >
		<div class="right">
			<div class="row">
			<%=image_tag "aplanke.png", :class=>"title"%>
			</div>
			<div class="row right" style="clear: both">
				<h5 style="color: #0195FF;">Easy online booking<span class="right" style="font-family: Arial; font-size: 11px;"></span></h5>
			</div>
		</div>
		<div style="clear: both"></div>

		<div class="large-6 left" style="padding-left: 15px;">
			Choose the easier way to make your transport booking
			<p>
			</p>
			<p>
			Get an easier way to go home this vacation if you are in 
			KNUST just try aplanke
			</p>
			<p>
			Easier transport bookings.
			</p>
			<b>This is temporary available to students of <a target="_blank" href="http://knust.edu.gh/">KNUST</a>
			please note</b>
			
		</div>

		<div class="large-6 right" style="border-left: solid 1px grey; padding-left: 15px;">
			<div style="padding: 10px 0;">
				Enter your email and phone number to get launch day notification.
			</div>
			<% if flash[:notice] %>
				<div data-alert class="alert-box" style="font-size: 12px;">
		        	<%= flash[:notice] %>
		        	<a href="#" class="close">&times;</a>
		      	</div>
			<% end %>
			<%if flash[:alert]%>
				<div data-alert class="alert-box success" style="font-size: 10px">
					<%=flash[:alert]%>
				</div>
			<%end%>
			<%=simple_form_for @prelaunch, :url => {:controller=>:prelaunch, :action=>:create} do |f|%>
			<%=f.input :email,:label=>false, :placeholder=>"Your Email"%>
			<div class="row collapse">
			    <div class="small-3 large-2 columns">
			    	<span class="prefix">+233</span>
			    </div>
			    <div class="small-6 large-8 columns">
			    	<%=f.input_field :telephone_number, :label=>false, :placeholder=>"Phone number"%>
		    	</div>

		  		<style type="text/css">
		  		.img{
		  			width: 40px;
		  		}
		  		</style>
		    	<div class="small-3 large-2 columns">
			    	<span class="postfix"><img src="assets/ghana_flag.jpeg"></span>
			    </div>
		  	</div>
			<%=f.submit :submit, :class=>"button small left"%>
			<% end %>
			<div class="right">
			I would really appreciate it if you spread the word.
			</div>
			<div>
				<a href="https://twitter.com/share" class="twitter-sharse-button" data-url="http://aplanke.phnunoo.com/" data-text="Aplanke is to help you book your bus ticket to get home easily if you're a student of knust" data-via="philip_nunoo" data-count="none" data-hashtags="aplanke">
					<%=image_tag "twitter.png", :class=>"img"%>
				</a>

				<a target="_blank" href="http://www.facebook.com/share.php?u=http://aplanke.phnunoo.com">
					<%=image_tag "facebook.png", :class=>"img"%>
				</a>
				<a target="_blank" href="https://plusone.google.com/_/+1/confirm?hl=en&url=http%3A%2F%2F%20http://aplanke.phnunoo.com">
					<%=image_tag "google.png", :class=>"img"%>
				</a>
			</div>

		</div>
	</div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>